.home-cnt {
  display: flex;
  padding-top: 165px;
  gap: 170px;
  width: 100%;
  max-width: 1500px;
}

@media screen and (max-width: 1200px) {
  .home-cnt {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
    gap: 100px;
  }
  .home-txt-cnt {
    display: flex;
    padding-left: 175px;
  }
}
